:root {
    --color1: white;
    --color2:  rgb(211, 209, 209);
    --colorText: rgb(50, 50, 50);
}
@font-face {
    font-family: calibri;
    src: url(./calibri-regular.ttf);
}
html {
    background-color: var(--color2);
    font-family: calibri;
    color: var(--colorText);
    font-size: max(10px, 2vh);
}
body {
    margin: 0px;
    
}
html, body {
    height: 100%;
}
html * {
    box-sizing: border-box;
}

.header {
    background-color: var(--color1);
    height: max(45px, 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 8px 1px rgb(158, 158, 158);
    column-gap: 15px;

    position: fixed;
    width: 100%;
    z-index: 1;
}
.header-text {
    font-size: 2.4rem;
    font-weight: bold;
}
.header > svg {
    width: 2.4rem;
}
.header > svg > path {
    fill: var(--colorText);
}
.add-book {
    height: 15vh;
    padding: 12px;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    box-shadow: 1px 0px 8px 1px rgb(158, 158, 158);
    background-color: var(--color1);

    position: fixed;
    bottom: 0px;
    width: 100%;

}
.add-book > button {
    padding: 7px 50px 7px 50px;
    font-size: 1.5rem;
}
button {
    font-family: calibri;
    font-weight: bold;
    cursor: pointer;
}

.books {
    height: auto;
    padding-top: calc(max(45px, 10vh) + 20px);
    padding-bottom: calc(15vh + 20px);
    padding-left: max(5vw, 10px);
    padding-right: max(5vw, 10px);

    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: var(--color1);
    height: 300px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 1px 0px 8px 1px rgb(158, 158, 158);
    padding: 20px;
    font-size: 1.3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.card span, .card .title {
    font-weight: bold;
}
.card button {
    display: block;
    width: 70%;
    height: 13%;
    font-size: 1.2rem;
}
.pages {
    margin-bottom: 30px;
}

.form-container {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);

    position: fixed;
    top:0px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: visible;
}
form {
    width: max(25vw, 260px);
    height: max(60vh, 300px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 0px 8px 1px rgb(158, 158, 158);
}
form > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 15%;
    gap: 20px;

}
label {
    display: inline-block;
    text-align: left;
}
form li.normal {
    display: flex;
    flex-direction: column;
}
form li {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}
#formTitle {
    font-size: 1.5rem;
    font-weight: bold;
}
#readInput {
    appearance: none;
    margin: 0px;
    margin-left: 8px;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 4px;

    position: relative;
}
#readInput::before {
    content: url(./check-bold.svg);
    visibility: hidden;
}
#readInput:checked::before {
    visibility: visible;
}
input[type="text"], input[type="number"] {
    appearance: none;
    height: 2.4rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 6px;
    font-size: 1.2rem;
}
input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border: 2px solid green;
}

button[type="submit"] {
    appearance: none;
    padding: 7px;
    width: 120px;
    font-size: 1.2rem;
    border: none;
}